<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subTask(); as subTaskRef) {
      <div>
        <h2 data-cy="subTaskDetailsHeading"><span jhiTranslate="collabflowApp.subTask.detail.title">Sub Task</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ subTaskRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="collabflowApp.subTask.title">Title</span></dt>
          <dd>
            <span>{{ subTaskRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="collabflowApp.subTask.description">Description</span></dt>
          <dd>
            <span>{{ subTaskRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="collabflowApp.subTask.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'collabflowApp.Status.' + (subTaskRef.status ?? 'null')">{{
              { null: '', TODO: 'TODO', IN_PROGRESS: 'IN_PROGRESS', DONE: 'DONE' }[subTaskRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="collabflowApp.subTask.dueDate">Due Date</span></dt>
          <dd>
            <span>{{ subTaskRef.dueDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="collabflowApp.subTask.assignee">Assignee</span></dt>
          <dd>
            <span>{{ subTaskRef.assignee?.id }}</span>
          </dd>
          <dt><span jhiTranslate="collabflowApp.subTask.task">Task</span></dt>
          <dd>
            @if (subTask()!.task) {
              <div>
                <a [routerLink]="['/task', subTask()!.task?.id, 'view']">{{ subTaskRef.task?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/sub-task', subTaskRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
