<div>
  <h2 id="page-heading" data-cy="AuditLogHeading">
    <span jhiTranslate="collabflowApp.auditLog.home.title">AuditLogs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="collabflowApp.auditLog.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-audit-log"
        [routerLink]="['/audit-log/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="collabflowApp.auditLog.home.createLabel">Créer un nouveau Audit Log</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (auditLogs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="collabflowApp.auditLog.home.notFound">Aucun Audit Log trouvé</span>
    </div>
  }

  @if (auditLogs && auditLogs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entity">
              <div class="d-flex">
                <span jhiTranslate="collabflowApp.auditLog.entity">Entity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="action">
              <div class="d-flex">
                <span jhiTranslate="collabflowApp.auditLog.action">Action</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timestamp">
              <div class="d-flex">
                <span jhiTranslate="collabflowApp.auditLog.timestamp">Timestamp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entityId">
              <div class="d-flex">
                <span jhiTranslate="collabflowApp.auditLog.entityId">Entity Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="collabflowApp.auditLog.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (auditLog of auditLogs; track trackId(auditLog)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/audit-log', auditLog.id, 'view']">{{ auditLog.id }}</a>
              </td>
              <td [jhiTranslate]="'collabflowApp.EntityEnum.' + (auditLog.entity ?? 'null')">
                {{ { null: '', PROJECT: 'PROJECT', TASK: 'TASK', SUB_TASK: 'SUB_TASK', COMMENT: 'COMMENT' }[auditLog.entity ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'collabflowApp.ActionEnum.' + (auditLog.action ?? 'null')">
                {{ { null: '', CREATED: 'CREATED', UPDATED: 'UPDATED', DELETED: 'DELETED' }[auditLog.action ?? 'null'] }}
              </td>
              <td>{{ auditLog.timestamp | formatMediumDatetime }}</td>
              <td>{{ auditLog.entityId }}</td>
              <td>
                {{ auditLog.user?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/audit-log', auditLog.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/audit-log', auditLog.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(auditLog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
